supergraph:
  listen: 0.0.0.0:4000

include_subgraph_errors:
  all: true

headers:
  all:
    request:
      - propagate:
          matching: ".*"
      # NOTE: Headers required for authentication when communicating with Manager
      - insert:
          name: "host"
          # NOTE: Set this to the address where the Manager is reachable from this component
          value: "{{ manager_hostname }}:{{ manager_graphql_port }}"
      - insert:
          name: "X-Forwarded-URL"
          # NOTE: Must match the endpoint in webserver.toml [apollo-router] for HMAC validation.
          # The Manager uses this header's host and path to verify the HMAC signature.
          value: "http://{{ advertised_hostname }}:{{ service_port }}/"
