global
  maxconn 60000
  log stdout format raw local0 warning  # print logs to stdout

defaults
  mode http
  log global
  option httplog
  option http-server-close
  option dontlognull
  # option redispatch
  option contstats
  option tcp-check
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
  timeout tunnel        3600s
  timeout http-keep-alive 60s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor

frontend stats
  bind *:7999
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST


# -- Manager API
frontend fe_manager
  bind *:{{ haproxy_service_port }}
  # bind *:443 ssl crt /etc/mgr_cert/full.crt
  # http-request redirect scheme https unless { ssl_fc }
  default_backend be_manager

backend be_manager
  balance roundrobin
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk GET /
{%- for node in manager_nodes %}
  server {{ node.name }} {{ node.hostname }}:{{ manager_port }} weight 1 check
{%- endfor %}
  http-response set-header HA-manager %s
