[general]
{% toml_field "apiEndpoint" endpoint_url %}
{% toml_field "apiEndpointText" config["api"]["text"] %}
{% toml_field "defaultSessionEnvironment" config["ui"]["default-environment"] %}
{% toml_field "defaultImportEnvironment" config["ui"]["default-import-environment"] %}
{% toml_field "enableModelFolders" config["ui"]["enable-model-folders"] %}
connectionMode = "SESSION"
{% toml_field "signupSupport" config["service"]["enable-signup"] %}
{% toml_field "allowChangeSigninMode" config["service"]["allow-change-signin-mode"] %}
{% toml_field "allowAnonymousChangePassword" config["service"]["allow-anonymous-change-password"] %}
{% toml_field "allowProjectResourceMonitor" config["service"]["allow-project-resource-monitor"] %}
{% toml_field "allowManualImageNameForSession" config["service"]["allow-manual-image-name-for-session"] %}
{% toml_field "allowSignupWithoutConfirmation" config["service"]["allow-signup-without-confirmation"] %}
{% toml_field "alwaysEnqueueComputeSession" config["service"]["always-enqueue-compute-session"] %}
{% toml_field "autoLogout" config["session"]["auto-logout"] %}
{% toml_field "debug" config["service"]["webui-debug"] %}
{% toml_field "debug" config["service"]["webui-debug"] %}
{% toml_field "maskUserInfo" config["service"]["mask-user-info"] %}
{% toml_strlist_field "singleSignOnVendors" config["service"]["single-sign-on-vendors"] %}
{% toml_field "ssoRealmName" config["service"]["sso-realm-name"] %}
{% toml_field "enableContainerCommit" config["service"]["enable-container-commit"] %}
{% toml_field "hideAgents" config["service"]["hide-agents"] %}
{% toml_field "appDownloadUrl" config["service"]["app-download-url"] %}
{% toml_field "allowAppDownloadPanel" config["service"]["allow-app-download-panel"] %}
{% toml_field "force2FA" config["service"]["force-2FA"] %}
{% toml_field "systemSSHImage" config["service"]["system-SSH-image"] %}
{% toml_field "directoryBasedUsage" config["service"]["directory-based-usage"] %}
{% toml_field "maxCountForPreopenPorts" config["session"]["max-count-for-preopen-ports"] %}
{% toml_field "allowCustomResourceAllocation" config["service"]["allow-custom-resource-allocation"] %}
{% toml_field "isDirectorySizeVisible" config["service"]["is-directory-size-visible"] %}
{% toml_field "eduAppNamePrefix" config["service"]["edu-appname-prefix"] %}
{% toml_field "enableExtendLoginSession" config["service"]["enable-extend-login-session"] %}
{% toml_field "enableInteractiveLoginAccountSwitch" config["service"]["enable-interactive-login-account-switch"] %}
{% toml_field "defaultFileBrowserImage" config["service"]["default-file-browser-image"] %}
{% toml_field "enableReservoir" config["service"]["enable-reservoir"] %}

[resources]
{% toml_field "openPortToPublic" config["resources"]["open-port-to-public"] %}
{% toml_field "allowNonAuthTCP" config["resources"]["allow-non-auth-tcp"] %}
{% toml_field "allowPreferredPort" config["resources"]["allow-preferred-port"] %}
{% toml_field "maxCPUCoresPerContainer" config["resources"]["max-cpu-cores-per-container"] %}
{% toml_field "maxMemoryPerContainer" config["resources"]["max-memory-per-container"] %}
{% toml_field "maxCUDADevicesPerContainer" config["resources"]["max-cuda-devices-per-container"] %}
{% toml_field "maxCUDASharesPerContainer" config["resources"]["max-cuda-shares-per-container"] %}
{% toml_field "maxROCMDevicesPerContainer" config["resources"]["max-rocm-devices-per-container"] %}
{% toml_field "maxTPUDevicesPerContainer" config["resources"]["max-tpu-devices-per-container"] %}
{% toml_field "maxIPUDevicesPerContainer" config["resources"]["max-ipu-devices-per-container"] %}
{% toml_field "maxATOMDevicesPerContainer" config["resources"]["max-atom-devices-per-container"] %}
{% toml_field "maxGaudi2DevicesPerContainer" config["resources"]["max-gaudi2-devices-per-container"] %}
{% toml_field "maxATOMPlUSDevicesPerContainer" config["resources"]["max-atom-plus-devices-per-container"] %}
{% toml_field "maxWarboyDevicesPerContainer" config["resources"]["max-warboy-devices-per-container"] %}
{% toml_field "maxShmPerContainer" config["resources"]["max-shm-per-container"] %}
{% toml_field "maxFileUploadSize" config["resources"]["max-file-upload-size"] %}

[environments]
{% toml_strlist_field "allowlist" config["environments"]["allowlist"] %}
{% toml_field "showNonInstalledImages" config["environments"]["show-non-installed-images"] %}

[menu]
{% toml_strlist_field "blocklist" config["ui"]["menu-blocklist"] %}
{% toml_strlist_field "inactivelist" config["ui"]["menu-inactivelist"] %}

[plugin]
{% toml_strlist_field "page" config["plugin"]["page"] %}

[wsproxy]
{% toml_field "proxyURL" config["service"]["wsproxy"]["url"] %}
# proxyBaseURL =
# proxyListenIP =

[pipeline]
{% toml_field "endpoint" config["pipeline"]["endpoint"]|string %}
{% toml_field "frontendEndpoint" config["pipeline"]["frontend-endpoint"]|string %}
