services:

  backendai-half-db:
    image: postgres:16.3-alpine
    restart: unless-stopped
    command: postgres -c 'max_connections=256'
    networks:
      - half
    ports:
      - "8100:5432"
    environment:
      - POSTGRES_PASSWORD=develove
      - POSTGRES_DB=backend
    volumes:
      - "./volumes/${DATADIR_PREFIX:-.}/postgres-data:/var/lib/postgresql/data:rw"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

  backendai-half-redis:
    image: redis:7.2.4-alpine
    restart: unless-stopped
    networks:
      - half
    ports:
      - "8110:6379"
    volumes:
      - "./volumes/${DATADIR_PREFIX:-.}/redis-data:/data:rw"
    command: >
      redis-server
      --appendonly yes
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 10

  backendai-half-etcd:
    image: quay.io/coreos/etcd:v3.5.14
    restart: unless-stopped
    volumes:
      - "./volumes/${DATADIR_PREFIX:-.}/etcd-data:/etcd-data:rw"
    networks:
      - half
    ports:
      - "8120:2379"
    command: >
      /usr/local/bin/etcd
      --name backendai-etcd
      --data-dir /etcd-data
      --listen-client-urls http://0.0.0.0:2379
      --advertise-client-urls http://0.0.0.0:2379
      --listen-peer-urls http://0.0.0.0:2380
      --initial-advertise-peer-urls http://0.0.0.0:2380
      --initial-cluster backendai-etcd=http://0.0.0.0:2380
      --initial-cluster-token backendai-etcd-token
      --initial-cluster-state new
      --enable-v2=true
      --auto-compaction-retention 1
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 5s
      timeout: 3s
      retries: 10

  backendai-half-grafana:
    image: grafana/grafana-enterprise:11.4.0
    restart: unless-stopped
    networks:
      - half
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=backend
      - GF_SECURITY_ADMIN_PASSWORD=develove
    volumes:
      - "./volumes/${DATADIR_PREFIX:-.}/grafana-data:/var/lib/grafana:rw"
      - "./grafana-dashboards:/etc/grafana/dashboards:ro"
      - "./grafana-provisioning:/etc/grafana/provisioning:ro"

  backendai-half-pyroscope:
    image: grafana/pyroscope:1.9.2
    restart: unless-stopped
    networks:
      - half
    ports:
      - "4040:4040"
    volumes:
      - "./volumes/${DATADIR_PREFIX:-.}/pyroscope-data:/var/lib/pyroscope:rw"

  backendai-half-prometheus:
    image: prom/prometheus:v3.1.0
    restart: unless-stopped
    networks:
      - half
    volumes:
      - "./prometheus.yaml:/etc/prometheus/prometheus.yaml"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - "9090:9090"
  backendai-half-otel-collector:
    image: otel/opentelemetry-collector-contrib:0.126.0
    networks:
      - half
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./configs/otel/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"

  backendai-half-loki:
    image: grafana/loki:3.5.0
    networks:
      - half
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./configs/loki/loki-config.yaml:/etc/loki/local-config.yaml

  backendai-half-tempo:
    image: grafana/tempo:2.7.2
    networks:
      - half
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./configs/tempo/tempo-config.yaml:/etc/tempo.yaml
      - ./volumes/${DATADIR_PREFIX:-.}/tempo-data:/var/tempo
    ports:
      - "3200" # tempo
      - "4317" # otlp grpc

networks:
  half:
