[GLOBAL]
pants_version = "2.29.0"
pythonpath = ["%(buildroot)s/tools/pants-plugins"]
backend_packages = [
    "pants.backend.python",
    "pants.backend.python.typecheck.mypy",
    "pants.backend.shell",
    "pants.backend.experimental.python",
    "pants.backend.experimental.python.lint.ruff.check",
    "pants.backend.experimental.python.lint.ruff.format",
    "pants.backend.experimental.visibility",
    "pants.backend.plugin_development",
    "setupgen",
    "platform_resources",
]
pants_ignore = [
    ".*/",
    "/dist/",
    "__pycache__",
    "*~",  # vim swap/backup files
    "/scripts/",
    "/plugins/",
    "/docs/",  # TODO: docs build config
    "*.log",
    "/tools/pants-plugins",
    "/wheelhouse/*/",
    "/wheelhouse/*.whl",
]
build_file_prelude_globs = ["tools/build-macros.py"]

[anonymous-telemetry]
enabled = false

[source]
root_patterns = [
    "/",
    "/src",
    "/stubs",
    "/tools/pants-plugins",
]

[test]
extra_env_vars = ["BACKEND_BUILD_ROOT=%(buildroot)s", "HOME"]
attempts_default = 3
timeout_default = 180

[python]
enable_resolves = true
# When changing this main Python version:
# * Update and commit:
#   - Regenerate lockfiles
#   - pyproject.toml: [tool.mypy].python_executable
# * Let other developers do:
#   - Run `pants export` again
#   - Update their local IDE/editor's interpreter path configurations
interpreter_constraints = ["CPython==3.14.2"]
interpreter_versions_universe = ["3.11", "3.12", "3.13", "3.14"]
tailor_pex_binary_targets = false
pip_version = "25.3"

[python-bootstrap]
search_path = ["<PYENV>"]

[python-infer]
use_rust_parser = true

[python-repos]
indexes = ["https://dist.backend.ai/pypi/simple/", "https://pypi.org/simple/"]
find_links = ["file://%(buildroot)s/wheelhouse"]

[python.resolves]
python-default = "python.lock"
python-kernel = "python-kernel.lock"
pants-plugins = "tools/pants-plugins.lock"
black = "tools/black.lock"
pytest = "tools/pytest.lock"
coverage-py = "tools/coverage-py.lock"
mypy = "tools/mypy.lock"
towncrier = "tools/towncrier.lock"
setuptools = "tools/setuptools.lock"

[export]
bin = [
    "ruff",
]

# [setup-py-generation]
# first_party_depenency_version_scheme = "exact"

[pex-cli]
# Pants 2.27 uses PEX 2.33.2 by default.
# Pin the PEX version to get benefits from a-scie/lift#116.
version = "v2.74.1"
known_versions = [
    "v2.74.1|macos_arm64|24d62a8297c53277614d26c2f8293276fdb1045274411a9018f04ad241f7c3ea|4943888",
    "v2.74.1|macos_x86_64|24d62a8297c53277614d26c2f8293276fdb1045274411a9018f04ad241f7c3ea|4943888",
    "v2.74.1|linux_arm64|24d62a8297c53277614d26c2f8293276fdb1045274411a9018f04ad241f7c3ea|4943888",
    "v2.74.1|linux_x86_64|24d62a8297c53277614d26c2f8293276fdb1045274411a9018f04ad241f7c3ea|4943888",
]
# When trying a new pex version, you could find out the hash and size-in-bytes as follows:
# $ curl -s -L https://github.com/pantsbuild/pex/releases/download/v2.28.1/pex | tee >(wc -c) >(shasum -a 256) >/dev/null
# As of PEX v2.18, the GitHub release descriptions include the checksum and size for reference.

[black]
install_from_resolve = "black"

[ruff]
version = "0.14.8"
# take tar.gz files and their checksums from the GitHub release (darwin and linux-musl)
known_versions = [
    "0.14.8|macos_arm64|4efc019832a6b9225f650ee256d31b2e875021cae662963d533c78b5cf865f52|12262293",
    "0.14.8|macos_x86_64|c53af0ba3cbc5e9e8f7768d28a7ff2d0795843e39302891093227bc6df343e94|13284305",
    "0.14.8|linux_arm64|0b3464f54fa56f514c29e92bcf05867b914ad6c246e2ddbe4cce5c0700f2a3d9|12604548",
    "0.14.8|linux_x86_64|0f5496a3d2413b3cb85bbf9e4a6f95b5db127ac10989ecb3d8c0c0a0a74a892b|13826546",
]

[pytest]
install_from_resolve = "pytest"
args = ["-v", "--suppress-no-test-exit-code"]
execution_slot_var = "BACKEND_TEST_EXEC_SLOT"

[coverage-py]
install_from_resolve = "coverage-py"
report = ["xml", "console"]

[mypy]
install_from_resolve = "mypy"

[setuptools]
install_from_resolve = "setuptools"
