pyzmq>=22.1.0
aiodataloader-ng~=0.2.1
aiodocker~=0.21.0
aiofiles~=0.8.0
aiohttp>=3.8.0
aiohttp_sse>=2.0
aiodns>=3.0
aioredis[hiredis]~=2.0.1
aiotools>=1.5.8
async-timeout~=4.0.1
asyncudp>=0.4
attrs>=21.2.0
click>=7.1.2
coloredlogs~=15.0
etcetra~=0.1.5
janus>=0.6.1
msgpack>=1.0.0
netifaces~=0.11.0
setproctitle>=1.2.1
python-dateutil>=2.8
python-json-logger>=2.0.1
packaging>=21.0
tblib~=1.7
tenacity>=8.0
toml>=0.10.2
trafaret~=2.1
typeguard~=2.10
typing_extensions~=4.1.1
uvloop>=0.16
yarl>=1.6
