#!/bin/bash
set -e

# -- static python
source {{ home_dir }}/{{ service_name }}/.venv/bin/activate

# -- Ensure the previous processes terminated
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: {{ service_name }}" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
  echo "Leftover processes exist. Killing them ..."
  kill -9 $leftover_processes
fi
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: {{ service_name }}" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
  echo "Leftover processes exist. Cannot kill them. Exiting ..."
  exit -1
fi

# -- Wait for mountpoints if required
# mount_points=(
#   "/vfroot/nas"
#   "/vfroot/shared"
# )
# while true; do
#   all_mounted=true
#   for mp in "${mount_points[@]}"; do
#     mountpoint -q "$mp" && continue
#     echo "Wait for $mp to be mounted..."
#     mount "$mp"
#     all_mounted=false
#   done
#   $all_mounted && break
#   sleep 10
# done

# -- Wait for services
while ! nc -vz {{ redis_ip }} {{ redis_port }}
do
  echo "Wait for redis( {{ redis_ip }}:{{ redis_port }} )"
  sleep 1
done

while ! curl -sf {{ etcd_ip }}:{{ etcd_port }}/health > /dev/null; do
  echo "Wait for etcd( {{ etcd_ip }}:{{ etcd_port }} )"
  sleep 2
done

if [ "$#" -eq 0 ]; then
  # export BACKEND_OVERCOMMIT_FACTOR=2
  exec python -m ai.backend.{{ service_name }}.server
else
  exec "$@"
fi
