#!/bin/bash
set -e

# -- static python
source {{ home_dir }}/agent/.venv/bin/activate

# Ensure the previous processes terminated
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: watcher" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
  echo "Leftover processes exist. Killing them ..."
  kill -9 $leftover_processes
fi
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: watcher" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
  echo "Leftover processes exist. Cannot kill them. Exiting ..."
  exit -1
fi

if [ "$#" -eq 0 ]; then
  exec python -m ai.backend.agent.watcher
else
  exec "$@"
fi
