export BACKEND_ENDPOINT={{ manager_api_endpoint }}
export BACKEND_ENDPOINT_TYPE=api

# User
export BACKEND_ACCESS_KEY={{ user_access_key }}
export BACKEND_SECRET_KEY={{ user_secret_key }}

# Superadmin
export BACKEND_ACCESS_KEY={{ superadmin_access_key }}
export BACKEND_SECRET_KEY={{ superadmin_secret_key }}
