# For ALL
TARGET_UID={{uid}}
TARGET_GID={{gid}}
TARGET_UNAME={{user_name}}
ETCD_BASE_IMG={{etcd_container_image}}

# For this ETCD cluster
{% for node in etcd_nodes %}
ETCD{{node.node_number}}_IP={{node.client_ip}}
ETCD{{node.node_number}}_CLIENT_PORT={{node.client_port}}
ETCD{{node.node_number}}_PEER_PORT={{node.peer_port}}
{% endfor %}
ETCD_UID=${TARGET_UID}
ETCD_GID=${TARGET_GID}
ETCD_CLUSTER_NAME={{etcd_cluster_name}}
INITIAL_ETCD_CLUSTER_TOKEN=bai-etcd-cluster-${ETCD_CLUSTER_NAME}

# For this etcd cluster host
ETCD_INITIAL_CLUSTER_STATE=new
# one of first second third
THIS_ETCD_NODE_NAME=etcd{{etcd_cluster_member_number}}
THIS_HOST_IP={{etcd_client_ip}}
THIS_HOST_ETCD_CLIENT_PORT={{etcd_client_port}}
THIS_HOST_ETCD_PEER_PORT={{etcd_peer_port}}
# for security configuration
PIDS_LIMIT_VALUE={{etcd_config_pid_limits}}