[wsproxy]
bind-host = "0.0.0.0"
advertised-host = "127.0.0.1"

bind-api-port = 5050
advertised-api-port = 5050

# replace these values with your passphrase
jwt-encrypt-key = "QRX/ZX2nwKKpuTSD3ZycPA"
permit-hash-key = "gHNAohmntRV0t9zlwTVQeQ"

api-secret = "v625xZLOgbMHhl0s49VuqQ"
