[wsproxy]
ipc-base-path = "/tmp/backend.ai/ipc"
event-loop = "asyncio"
pid-file = "/run/backend.ai/wsproxy/wsproxy.pid"
id = "i-node01"
user = 501
group = 501
bind-host = "0.0.0.0"
advertised-host = "example.com"
bind-api-port = 5050
advertised-api-port = 15050
bind-proxy-port-range = [
    10200,
    10300,
]
advertised-proxy-port-range = [
    20200,
    20300,
]
protocol = "http"

# replace these values with your passphrase
jwt-encrypt-key = "50M3G00DL00KING53CR3T"
permit-hash-key = "50M3G00DL00KING53CR3T"
api-secret = "50M3G00DL00KING53CR3T"

aiomonitor-termui-port = 48500
aiomonitor-webui-port = 49500

[logging]
level = "INFO"
drivers = [
    "console",
]

[logging.pkg-ns]
"" = "WARNING"
"ai.backend" = "DEBUG"
tests = "DEBUG"
aiohttp = "INFO"

[logging.console]
colored = true
format = "verbose"

[logging.file]
path = "/var/log/backend.ai"
filename = "wsproxy.log"
backup-count = 5
rotation-size = "10M"
format = "verbose"

[logging.logstash]
protocol = "tcp"
ssl-enabled = true
ssl-verify = true

[logging.logstash.endpoint]
host = "127.0.0.1"
port = 8001

[logging.graylog]
host = "127.0.0.1"
port = 8000
level = "INFO"
ssl-verify = true
ca-certs = "/etc/ssl/ca.pem"
keyfile = "/etc/backend.ai/graylog/privkey.pem"
certfile = "/etc/backend.ai/graylog/cert.pem"

[debug]
enabled = false
asyncio = false
enhanced-aiomonitor-task-info = false
log-events = false

