DB_CONTAINER_IMAGE={{ container_image }}
DB_CONTAINER_NAME={{ container_name }}

BACKEND_DB_USER={{ db_user }}
BACKEND_DB_PASSWORD={{ db_password }}
BACKEND_DB_NAME={{ db_name }}
BACKEND_DB_PORT={{ db_port }}
