ETCD_UID={{ uid }}
ETCD_GID={{ gid }}

ETCD_CONTAINER_IMAGE={{ container_image }}
ETCD_CONTAINER_NAME={{ container_name }}

ETCD_ADVERTISE_CLIENT_IP={{ etcd_advertise_client_ip }}
ETCD_ADVERTISE_CLIENT_PORT={{ etcd_advertise_client_port }}
