x-base: &base
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"
  security_opt:
    - no-new-privileges:true
  extra_hosts:
  {%- for node in config.cluster_nodes %}
    - "{{ node.hostname }}:${{ '{' }}{{ node.hostname | upper }}_IP{{ '}' }}"
  {%- endfor %}

services:
  postgres-haproxy:
    <<: *base
    container_name: {{ config.haproxy_container_name_prefix }}
    image: {{ config.haproxy_container_image }}
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./conf
        target: /usr/local/etc/haproxy
        read_only: true
    ports:
      - "${HAPROXY_STAT_PORT}:${HAPROXY_STAT_PORT}"
      - "${PG_ACTIVE_PORT}:${PG_ACTIVE_PORT}"
      - "${PG_STANDBY_PORT}:${PG_STANDBY_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://127.0.0.1:${HAPROXY_STAT_PORT}/stats || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
