OVERLAY=prod
BROKER_PROJECT=bai-trustee
BROKER_STATE=/var/lib/backendai-kbs
KBS_IMAGE=ghcr.io/confidential-containers/key-broker-service:built-in-as-v0.21.0-x86_64
KBS_PORT=8443
KBS_LOG=info
PKI_DIR=/var/lib/backendai-pki
TRUST_DOMAIN=coco.lablup.internal
