{
  "__mode": "update",
  "users": [
    {
      "uuid": "{{ superadmin_uuid }}",
      "main_access_key": "{{ superadmin_access_key }}"
    },
    {
      "uuid": "{{ user_uuid }}",
      "main_access_key": "{{ user_access_key }}"
    }
  ]
}
