slot_name = "cuda"
device_plugin_name = "CUDADevice"

# is_mig_device config is mandatory only for "cuda" slot; it is safe to ignore this config for all other accelerators
devices = [
  { mother_uuid = "c59395cd-ac91-4cd3-a1b0-3d2568aa2d01", model_name = "CUDA GPU", numa_node = 0, subproc_count = 108, memory_size = "40G", is_mig_device = false },
  { mother_uuid = "c59395cd-ac91-4cd3-a1b0-3d2568aa2d02", model_name = "CUDA GPU", numa_node = 1, subproc_count = 108, memory_size = "40G", is_mig_device = false },
  { mother_uuid = "c59395cd-ac91-4cd3-a1b0-3d2568aa2d03", model_name = "CUDA GPU", numa_node = 0, subproc_count = 108, memory_size = "40G", is_mig_device = false },
  { mother_uuid = "c59395cd-ac91-4cd3-a1b0-3d2568aa2d04", model_name = "CUDA GPU", numa_node = 1, subproc_count = 108, memory_size = "40G", is_mig_device = false },
]

[attributes]
nvidia_driver = "450.0.0"
cuda_runtime = "11.0"

[formats.device]
display_unit = "GPU"
display_icon = "gpu1"
human_readable_name = "GPU"
description = "CUDA-capable GPU"
number_format = { binary = false, round_length = 0 }

[formats.shares]
display_unit = "fGPU"
display_icon = "gpu1"
human_readable_name = "fGPU"
description = "CUDA-capable GPU (fractional)"
number_format = { binary = false, round_length = 2 }
