#!/bin/bash
set -e

# -- Static python
source {{ service_dir }}/.venv/bin/activate

# -- Ensure the previous processes terminated
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: {{ service_name }}" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
    echo "Leftover processes exist. Killing them ..."
    kill -9 $leftover_processes
fi
leftover_processes=$(ps aux | grep -v "grep" | grep "backend.ai: {{ service_name }}" | awk '{print $2}')
if [[ ! -z "$leftover_processes" ]]; then
  echo "Leftover processes exist. Cannot kill them. Exiting ..."
  exit -1
fi

# -- Wait for services
while ! nc -vz {{ redis_hostname }} {{ redis_port }}
do
  echo "Wait for redis( {{ redis_hostname }}:{{ redis_port }} )"
  sleep 1
done

# -- Run service
if [ "$#" -eq 0 ]; then
    exec python -m ai.backend.appproxy.coordinator.server
else
    exec "$@"
fi
