root hard nofile 512000
root soft nofile 512000
root hard nproc 65536
root soft nproc 65536
root hard msgqueue 8192000
root soft msgqueue 8192000
{{ username }} hard nofile 512000
{{ username }} soft nofile 512000
{{ username }} hard nproc 65536
{{ username }} soft nproc 65536
{{ username }} hard msgqueue 8192000
{{ username }} soft msgqueue 8192000
