x-base: &base
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"
  restart: unless-stopped
  cpu_count: 2
  mem_limit: "4g"
  sysctls:
    - net.ipv4.tcp_fin_timeout=10
    - net.ipv4.tcp_tw_reuse=1
    - net.core.somaxconn=65535

services:
  redis:
    <<: *base
    image: ${REDIS_CONTAINER_IMAGE}
    container_name: ${REDIS_CONTAINER_NAME}
    command: >
      redis-server
        --appendonly yes
        --appendfsync everysec
        --save "3600 1 300 100"
        --requirepass "${REDIS_PASSWORD}"
    volumes:
      - "{{ data_dir }}:/data:rw"
    ports:
      - "${REDIS_PORT}:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a \"${REDIS_PASSWORD}\" ping | grep PONG"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
