# copied from https://github.com/lablup/backend.ai-krunner-static-gnu/blob/main/src/ai/backend/krunner/static_gnu/requirements.txt
async_timeout~=3.0
pyzmq~=22.2
uvloop~=0.16
attrs~=21.2
janus~=0.6.1
msgpack~=1.0
jupyter-client~=6.1
