[Unit]
Description=Backend.AI Manager
Requires=network.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/home/ubuntu/backend.ai/backend.ai mgr start-server --debug
WorkingDirectory=/home/ubuntu/backend.ai
User=ubuntu
Group=ubuntu
TimeoutStopSec=5
KillMode=process
KillSignal=SIGTERM
PrivateTmp=false
Restart=on-failure
RestartSec=10
LimitNOFILE=5242880
LimitNPROC=131072

[Install]
WantedBy=multi-user.target
