OVERLAY=dev
BROKER_PROJECT=bai-trustee-dev
BROKER_STATE=/var/lib/backendai-kbs-dev
KBS_IMAGE=ghcr.io/confidential-containers/key-broker-service:built-in-as-v0.20.0-x86_64
KBS_PORT=18088
KBS_LOG=debug
