# ETCD HA gRPC Proxy Node Environment
ETCD_GRPC_SERVICE_IP={{grpc_config.grpc_service_ip if grpc_config else 'unknown'}}
ETCD_GRPC_SERVICE_PORT={{grpc_config.grpc_service_port if grpc_config else 'unknown'}}
ETCD_CLUSTER_INFO={{etcd_cluster_info}}