/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

td > p {
    margin: 0 0 8px 0;
    font-size: inherit;
}
td > p:last-child {
    margin: 0;
}

code, .code, .pre, tt {
    font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Roboto Mono", "Bitstream Vera Sans Mono", monospace !important;
    font-size: 13px !important;
}

.docutils.literal {
    /*padding: 1px 2px;*/
    background: none;
    border: 0px none;
    padding: 0;
}

.highlight pre {
    font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Roboto Mono", "Bitstream Vera Sans Mono", monospace !important;
    font-size: 12px !important;
}

.rst-content table ul,
.rst-content .admonition ul,
.rst-content table ol,
.rst-content .admonition ol
{
    line-height: inherit !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.rst-content li {
    margin-bottom: 3px !important;
}

.admonition p, .admonition div {
    line-height: 1.2;
    margin-bottom: 12px;
}
