/* override table width restrictions */
.rst-content .wy-table-responsive table td, .rst_content .wy-table-responsive table th {
    white-space: normal;
}

.rst-content .wy-table-responsive th p {
    margin-bottom: 0 !important;
}

.rst-content .wy-table-responsive td div[class^='highlight'] {
    margin-bottom: 0 !important;
}

.rst-content .admonition .highlight-text {
    margin-bottom: 12px !important;
}

.rst-content .highlight .nc {
    font-weight: bold;
}

.rst-content .wy-table-responsive td .admonition {
    margin-bottom: 0 !important;
}

.rst-content .wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.rst-content .footnote-reference, .rst-content .citiation-reference {
    font-size: 80%;
    line-height: 1.0;
}

.rst-content .versionchanged p {
    font-size: inherit;
}
.rst-content .versionmodified {
    color: #849c9c;
    font-style: italic;
    font-weight: bold;
}

td > p {
    margin: 0 0 8px 0 !important;
    font-size: inherit;
}
td > p:last-child {
    margin: 0 !important;
}
.rst-content table.field-list ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

code, .code, .pre, tt {
    font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Roboto Mono", "Bitstream Vera Sans Mono", monospace !important;
    font-size: 13px !important;
}

.docutils.literal {
    /*padding: 1px 2px;*/
    background: none;
    border: 0px none;
    padding: 0;
}

.highlight pre {
    font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Roboto Mono", "Bitstream Vera Sans Mono", monospace !important;
    font-size: 12px !important;
}

.rst-content table ul,
.rst-content .admonition ul,
.rst-content table ol,
.rst-content .admonition ol
{
    line-height: inherit !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.rst-content li {
    margin-bottom: 3px !important;
}

.admonition p, .admonition div {
    line-height: 1.2;
    margin-bottom: 12px;
}
.admonition p.last {
    margin-bottom: 0 !important;
}

.rst-content .caption {
    margin-top: 8px;
    text-align: center;
}

.rst-content .caption-number:after {
    margin-left: -0.25em;
    content: ": ";
}

.rst-content .descclassname {
    font-weight: normal !important;
}

.highlight .err {
    border: 0 none;
    color: inherit;
}
