name: docs-preview
on:
  pull_request:
    types: [opened, reopened, labeled, unlabeled, synchronize]

permissions:
  pull-requests: write

jobs:
  docs-preview-links-:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'docs') }}
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "sorna"
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "sorna"
          project-language: |
            "kr"
            "en"
