name: integration-test

on:
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch:


jobs:
  integration:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip:ci') }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2
        submodules: true
    - name: Create LFS file hash list
      run: git lfs ls-files -l | cut -d ' ' -f1 | sort > .lfs-assets-id
    - name: Restore LFS cache
      uses: actions/cache@v3
      id: lfs-cache
      with:
          path: .git/lfs
          key: lfs-${{ hashFiles('.lfs-assets-id') }}
    - name: Git LFS Pull
      run: git lfs pull
    - name: Extract Python version from pants.toml
      run: |
        PYTHON_VERSION=$(grep -oP '(?<=CPython==)([^"]+)' pants.toml)
        echo "PANTS_CONFIG_FILES=pants.ci.toml" >> $GITHUB_ENV
        echo "PROJECT_PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_ENV
    - name: Set up Python for Pants
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Set up Python as Runtime
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PROJECT_PYTHON_VERSION }}
        cache: pip
    - name: Prepare cache dir for Pants
      run: mkdir -p .tmp
    - name: Bootstrap Pants
      uses: pantsbuild/actions/init-pants@v2
      # See: https://github.com/pantsbuild/actions/tree/main/init-pants/
      # See: https://github.com/pantsbuild/example-python/blob/main/.github/workflows/pants.yaml#L27-L47
      with:
        pants-python-version: "3.9"
        gha-cache-key: pants-cache0-integration-py${{ env.PROJECT_PYTHON_VERSION }}-${{ runner.os }}-${{ runner.arch }}
        named-caches-hash: ${{ hashFiles('*.lock', 'tools/*.lock') }}
        cache-lmdb-store: 'true'
    - name: Test
      shell: 'script -q -e -c "bash {0}"'
      run: |
        ./scripts/install-dev.sh
        source env-tester-admin.sh
        ./backend.ai test run-cli admin
        source env-tester-user.sh
        ./backend.ai test run-cli user
    - name: Upload pants log
      uses: actions/upload-artifact@v3
      with:
        name: pants.test.log
        path: .pants.d/pants.log
      if: always()  # We want the log even on failures.
