name: pr-number-assign
on:
  [workflow_call]
permissions:
  contents: write

jobs:
  pr-number-assign:
    runs-on: ubuntu-latest

    env:
      FEAT: default

    steps:
    - name: Checks-out repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}

    - name: Assign pr-number
      run: |
        pip install tomlkit
        python scripts/pr-number-assign.py ${{github.event.pull_request.number}}

    - name: Get user info
      id: get_user_info
      run: |
        response=$(curl -Ls https://api.github.com/users/$GITHUB_ACTOR/events/public | jq -r '.[0]')
        email=$(echo $response | jq '.payload.commits[-1].author.email')
        id=$(echo $response | jq '.id')
        message=$(echo $response | jq '.payload.commits[-1].message')
        echo "::set-output name=email::$email"
        echo "::set-output name=id::$id"
        echo "::set-output name=message::$message"

    - name: Check user info
      run: |
        echo "Actor: $GITHUB_ACTOR"
        echo "User email: ${{ steps.get_user_info.outputs.email }}"
        echo "Recent id in github api(https://api.github.com/users/${{github.actor}}/events/public): ${{ steps.get_user_info.outputs.id }}"
        echo "Workflow-Triggered commit message: ${{ steps.get_user_info.outputs.message }}"

    - name: Make commit message for changing change log file
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_author: ${{ github.actor }} <${{ steps.get_user_info.outputs.email }}>
        commit_message: "docs: Rename the news fragment: '${{ env.ORIGINAL_FILENAME }}' -> '${{ github.event.pull_request.number }}.${{ env.FEAT }}.md'"
