name: check-pr-title-prefix

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  check-pr-prefix:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title prefix
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          if echo "$TITLE" | tr ':' '\n' | head -n 1 | grep -qE '^(feat|fix|docs?|refactor|ci|chore|release|test|deps)(\([^)]+\))?$';
          then
            echo "PR title is valid."
          else
            echo "PR title is invalid."
            echo "Use the title prefixes like:"
            echo "  feat:       (for new features and functionality)"
            echo "  fix:        (for bug fixes and revisions on how things work)"
            echo "  doc:        (for docs, docstring, and comment changes)"
            echo "  docs:       (for docs, docstring, and comment changes)"
            echo "  refactor:   (for refactoring and revisions on how things are related)"
            echo "  ci:         (for changes related to CI/CD workflows)"
            echo "  chore:      (for changes related to repo/build configs, tool dependencies, etc.)"
            echo "  release:    (for changes related to versioning and release management)"
            echo "  test:       (for changes related to tests and test cases)"
            echo "  deps:       (for changes related to upstream dependencies, etc.)"
            echo "following the conventional commit style."
            echo ""
            echo "You may insert additional information like a Jira issue number or related topic names as a slug"
            echo "between the prefix and the colon using a pair of parenthesis, like:"
            echo "  fix(BA-433):     (for a bug fix referring the Jira issue BA-433)"
            echo "  chore(repo):     (for repository configuration changes)"
            echo "  chore(scripts):  (for repository helper scripts)"
            echo ""
            exit 1
          fi
