name: SBOM report

on: [workflow_dispatch, workflow_call]

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the revision
      uses: actions/checkout@v6
      with:
        lfs: false
    - name: Install SBOM tool
      run: pipx install cyclonedx-bom
    - name: Create SBOM step
      # see for usage: https://pypi.org/project/cyclonedx-bom/
      run: cyclonedx-py requirements -o bom.json
    - name: Upload the SBOM report
      uses: actions/upload-artifact@v5
      with:
        name: SBOM report
        path: ./bom.json
