name: SBOM report

on: [workflow_dispatch, workflow_call]

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the revision
      uses: actions/checkout@v6
      with:
        lfs: false
    - name: Generate the SBOM report
      uses: CycloneDX/gh-python-generate-sbom@v2
    - name: Upload the SBOM report
      uses: actions/upload-artifact@v5
      with:
        name: SBOM report
        path: ./bom.xml
