apiVersion: 1
providers:
  - name: 'default'
    folder: 'Backend.AI Managed'
    type: 'file'
    disableDeletion: false
    editable: true
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
