x-base: &base
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"
  restart: unless-stopped
  cpu_count: 2
  mem_limit: "4g"
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  grafana:
    <<: *base
    image: grafana/grafana-enterprise:${GRAFANA_IMAGE_TAG}
    container_name: bai-grafana
    user: "472:472"  # grafana user
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "{{ data_dir }}:/var/lib/grafana:rw"
      - "./provisioning/datasources:/etc/grafana/provisioning/datasources:ro"
      - "./provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro"
      - "./provisioning/alerting:/etc/grafana/provisioning/alerting:ro"
      - "./dashboards:/var/lib/grafana/dashboards:ro"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
{% if smtp_enabled %}
      - GF_SMTP_ENABLED=${GF_SMTP_ENABLED}
      - GF_SMTP_HOST=${GF_SMTP_HOST}
      - GF_SMTP_USER=${GF_SMTP_USER}
      - GF_SMTP_PASSWORD=${GF_SMTP_PASSWORD}
      - GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS}
      - GF_SMTP_FROM_NAME=${GF_SMTP_FROM_NAME}
{% endif %}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/api/health"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 30s
